body {
  font-family: 'Georgia', serif;
  background-color: #fff8f0;
  color: #333;
  text-align: center;
  padding: 30px;
}
h1 {
  color: #c71585;
}
img {
  margin-top: 20px;
} 
adicionando estilo
body {
  background-image: url('fundo.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Georgia', serif;
  .galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.galeria img {
  width: 200px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.galeria img:hover {
  transform: scale(1.05);
}
  color: white;
  text-align: center;
  padding: 40px;
}.botao {
  display: inline-block;
  background-color: #d87093;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
.botao:hover {
  background-color: #c71585;
}blockquote {
  margin-top: 40px;
  font-style: italic;
  font-size: 1.2em;
  color: #ffe4e1;
}
